*{
	padding: 0px;
	margin: 0px;
}#body{
	width: 100%;
	height: auto;
}
#header{
	width: 80%;
	height: auto;

}
nav{
	padding-left: 20%;
	text-align: center;
	padding-top: 50px;
	line-height: 110px;
}
.hd> .item{
	display: inline-block;
	width: 33% !important;
	clear: both;
	padding-right: 20px;
}
.hd{
	float:left;
	width: 25%;
	 padding-bottom: 30px;
}
.item>a{
	display: inline-block;
	list-style: none;
	text-decoration: none;
}.hd >img{
	width: 100%;
	top: 60px;
}#content{
	margin-top: -150px;
	width: 80%;
	height: auto;
	padding-left: 15%;
	padding-bottom: 40px;
}.cont{
	text-align: center;
	padding-top: 50px;
	background-color: #E6E6E6;
}
.cont>h1{
	font-size: 40px;
	color: #58ACFA;
	padding-top: 100px;
}.img-cont{
	width: 100%;
}.img-cont >.img{
	width: 30%;
	display: inline-block;
	padding-right: 10px;
	text-align: left;
	padding-top: 20px;
}.img>img{
	width: 100%;
}.img>h3{
	color: #58ACFA;
}
i{
	color: black;
}.cont1{
	width: 100%;
	padding-top: 40px;
	padding-left: 20px;
}.about-me{
	width: 40%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}.about-me>h3{
	color:#58ACFA; 
}.about-me>p span{
	color:#58ACFA;
	text-decoration: underline;
}.about-me>p i{
	padding-right: 20px;
	padding-left: 20px;
    padding-top: 40px;
    font-size: 30px;
    color:#58ACFA;

}
.about-me>h3+p{
	padding-top: 20px;
}.cont2{
	clear: both;
	width: 100%;
	background-color: #58ACFA;
	padding-top: 40px;
}
.cont2>.tt{
	padding-left: 15%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.login{
	padding-left: 15%;
}
.login>input{
	width: 80%;
}
.login>b{
	padding-bottom: 10px;
	padding-top: 10px;
}
@media(max-width: 700px){
	#header{
		width: 100%;
	}
	#content>.cont>h1 p{
		width: 100%;
	}.item{
		width: 100%;
	}
	.img-cont{
		float: none;
	}
	.img-cont >.img{
		width: 45%;
		display: inline-block;
	}

	.cont1>.about-me{
		width: 50%;
		float:none;
	}.cont2{
		width: 100%;
	}
}
@media (max-width: 480px){
	#header{
		width: 100%;
	}#header>.hd>.item{
		display: none;
	}
	.hd>img{
		width: 100%;
		display: block;
	}
	.img-cont{
		float: none;
	}
	.img-cont >.img{
		width: 100%;
		margin-bottom: 20px;
	}
	#content>.cont>h1 p{
		width: 100%;
	}
	.cont1>.about-me{
		width: 100%;
		float:none;
	}.cont2{
		width: 100%;
	}
}
